<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet">

<main class="container">
<section class="movies" id="movies">
    <h2>Featured Movies</h2>
	<div class="row">
		<div class="col-lg-3 col-md-4 col-sm-6">
			<article class="card">
				<header class="title-header">
					<h3>Movie Title</h3>
				</header>
				<div class="card-block">
					<div class="img-card">
						<img src="" alt="Movie" class="w-100" />
					</div>
					<p class="tagline card-text text-xs-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					<a href="#" class="btn btn-primary btn-block"><i class="fa fa-eye"></i> Watch Now</a>
				</div>
			</article>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6">
    		<article class="card">
				<header class="title-header">
					<h3>Movie Title</h3>
				</header>
				<div class="card-block">
					<div class="img-card">
						<img src="https://placehold.it/300x250" alt="Movie" class="w-100" />
					</div>
					<p class="tagline card-text text-xs-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					<a href="#" class="btn btn-primary btn-block"><i class="fa fa-eye"></i> Watch Now</a>
				</div>
			</article>
		</div>
        <div class="col-lg-3 col-md-4 col-sm-6">
    		<article class="card">
				<header class="title-header">
					<h3>Movie Title</h3>
				</header>
				<div class="card-block">
					<div class="img-card">
						<img src="https://placehold.it/300x250" alt="Movie" class="w-100" />
					</div>
					<p class="tagline card-text text-xs-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					<a href="#" class="btn btn-primary btn-block"><i class="fa fa-eye"></i> Watch Now</a>
				</div>
			</article>
		</div>
        <div class="col-lg-3 col-md-4 col-sm-6">
    		<article class="card">
				<header class="title-header">
					<h3>Movie Title</h3>
				</header>
				<div class="card-block">
					<div class="img-card">
						<img src="https://placehold.it/300x250" alt="Movie" title="Movie" class="w-100" />
					</div>
					<p class="tagline card-text text-xs-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					<a href="#" class="btn btn-primary btn-block"><i class="fa fa-eye"></i> Watch Now</a>
				</div>
			</article>
		</div>
	</div>
</section>
</main>
