<body><head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">

</head>
<br>
<br>
    <div id="login">
      <form name='form-login' (ngSubmit)="authenticate(email, password)" #myForm="ngForm">
          <span class="glyphicon glyphicon-user"></span><input type="text" id="user" placeholder="Username" name="email" [(ngModel)]="email">
       
        <span class="fontawesome-lock"></span><input type="password" id="pass" placeholder="Password" name="password" [(ngModel)]="password">
        
        <input type="submit" value="Login">
   
</form>
</div>
</body>

