#body{
    
    width: 1800px;
     height: 650px;
     font-family: 'Lato', sans-serif;     
     background-image: url("https://i.amz.mshcdn.com/LWRrA7B2yTQxFTlc_4eb1Mao2DM=/1200x630/2017%2F05%2F16%2F8d%2Fa90b60e1a7b645f5b90067584ab381d3.e786a.jpg");
}

